

#login{
  margin-left: 20px;
  max-width: 300px;
  margin: 50px auto;
}

#chat{
    margin: 50px auto;
 
    width: 300px;
}

#send{
    
    font-size: 0.8rem;
}

#list{
    list-style: none;
     text-align: center;
      color: white;
     
     font-weight: bold;
     

      
  }
  li{
  
    margin: 50px auto;
    border-radius:0px  50px 50px 50px ;
    box-shadow: 5px 7px 4px gray;
    padding-top: 3px;
    
  }
 li:nth-last-of-type(odd){
    background-color:rgb(231, 226, 224);
    color: black;
  }
  li:nth-last-of-type(even){
    background-color: rgb(85, 156, 238);
  }
  strong{
    color:#e63946;
  }
  nav{
    margin-top: -25px;
  }

  #msg{
    width: 300px;
    
    height: 30px;
    text-align: center;
    margin-left: -30px;
  }
  
#chaticon{
  margin-right: 5px;
}

footer{
  background-color: #459db3;
 
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}


  @media all and (max-width:340px) {
    
    #chat{
      width:250px
    }
    #list{
      width:280px
    }
    
  }
  @media all and (max-width:280px) {
    
    #chat{
      width:200px
    }
    
  }

  @media all and (max-width:280px) {
    
    
    #list{
      width:220px
    }
  }